.rate {
  @include section-mb;
  &__title {
    &--num {
      font-size: 2.6rem;
      margin-left: 2.5rem;

      .icon {
        width: 3.2rem;
        height: 3.2rem;

        vertical-align: text-bottom;
      }
    }
  }

  &__item {
    border-radius: 2.4rem;
    background: var(--clr-bg-3);
    padding: 2.4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: 2.4rem;

    @media screen and (max-width: 680px) {
      flex-direction: column;
      align-items: flex-start;
    }

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }

  &__stars {
    .icon--star-rate,
    .icon--star-rate-transparent {
      width: 3.2rem;
      height: 3.2rem;
    }
  }
}
