:root {
  --clr-accent-1: #9000ff;
  --clr-accent-2: #121426;

  --clr-bg-circle: #9000ff49;
  --clr-bg-circle-2: #9000ff72;
  --clr-bg-circle-3: #9000ffa9;
  --clr-bg-circle-red: #982b5c;
  --clr-bg-circle-yellow: #ffcc0048;
  --clr-bg-circle-green: #00ff6a7c;

  --clr-bg-1: #0d0924;
  --clr-bg-2: #130e2f;
  --clr-bg-3: #1c1f38;

  --font-family-1: "Poppins", sans-serif;
  --font-family-2: "Days Sans Black", sans-serif;
}
